<section class="section">  
  <div class="container">

    <% if @content.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
     
        <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-12">
      <h1>Add Content</h1>

      <%= form_tag brand_contents_path, method: :post do %>

        <table class="table table-hover">
          <tbody>  
              <tr>
                <td><%= label_tag :title %></td>
                <td><%= text_field_tag :content_name, @content.content_name, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= label_tag :category %></td>
                <td><%= text_field_tag :content_category, @content.content_category, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= label_tag :content %></td>
                <td><%= text_field_tag :content_field, @content.content_field, class: "form-control" %></td>
              </tr>
          </tbody>
        </table>

      <%= submit_tag 'Add Content', class: "btn btn-cta-cms-search btn-xs"%>

      <% end %>
    </div>  
  </div>
</section>