<!-- ******CONTACT MAIN****** --> 
<br>
<br>
<section id="contact-main" class="contact-main section">
    <div class="container text-center">
        <h2 class="title">Get in touch</h2>
        <p class="intro">We'd love to hear from you. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
        
        <div class="row">
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-envelope"></i>-->
                        <span class="pe-icon pe-7s-mail-open-file"></span>
                    </div>
                    <div class="details">
                        <h4>Email &amp; Twitter:</h4>
                        <p><a href="mailto:support@nearr.me">support@<%= site_name_lower %></a></p>
                        <p><a href="https://twitter.com/nearrme" target="_blank">@nearrme</a></p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-phone"></i>-->
                        <span class="pe-icon pe-7s-phone"></span>
                    </div>
                    <div class="details">
                        <h4>Call us on:</h4>
                        <p class="phone">0800 123 456</p>
                        <p class="day">Mon-Sat 9am-6pm (GMT)</p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12 last">
                    <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-map-marker"></i>-->
                        <span class="pe-icon pe-7s-map-2"></span>
                    </div>
                    <div class="details">
                        <h4>Find us at:</h4>
                        <p class="address">222 W Merchandise Mart Plaza<br />Chicago, IL</p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->    
<section class="container contact-form-section">
    <h3 class="title text-center">Contact Form</h3>
    <p class="intro text-center">Drop us a line lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    
    <div class="row text-center">                
        <div class="contact-form col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0">

            <%= form_tag contact_email_path do %>
              <div class="form-group">
                    <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your name' %>
                </div>
               <div class="form-group">
                   <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your email' %>
               </div>
               <div class="form-group">
                   <%= text_area_tag 'message', nil, class: 'form-control', rows: 8, placeholder: 'Your message' %>
               </div>
               <%= submit_tag nil, class: 'btn btn-block btn-cta-primary' %>
            <% end %>

        </div><!--//contact-form-->
    </div><!--//row-->
</section> 
 
<section class="map-section">
    <h3 class="sr-only title">Google Map</h3>
    <div id="map"></div><!--//map-->
</section><!--//map-->
<!-- ******SIGNUP****** --> 
<section id="signup" class="signup has-bg-color">
    <div class="container text-center">
        <h2 class="title">Ready to get your locations online?</h2>
        <p class="summary">Sign up now to try <%= site_name %>!</p>
        <!-- <form class="signup-form" method="post" action="#">
            <div class="form-group">
                <label class="sr-only" for="semail2">Your email</label>
                <input type="email" id="semail2" name="semail2" class="form-control" placeholder="Enter your email address" required>
            </div> -->
            <a type="submit" class="btn btn-cta btn-cta-primary" href="/users/sign_up">SIGN UP</a>
        <!-- </form> --><!--//signup-form-->
    </div>
</section><!--//signup-->

<script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"></script>

<script type="text/javascript">
var obj = {
  lat: 41.8889274,
  long: -87.6353225
}

var manager = new MapManager
manager.initMap(obj)
</script>