<section class="section">
<!-- ******PROMO****** --> 
<section id="promo" class="promo section">  
    <div class="container intro">
        <h2 class="title">Everything you need<br />to get your locations online</h2>
        <p class="summary"><%= site_name %> is designed specifically to help businesses increase their local search presence.</p>
        <a class="btn btn-cta btn-cta-secondary" href="/about">Learn More</a>
    </div><!--//intro-->
    
    <div class="fixed-container">
        <div class="social text-center">
            <div class="container">
                <span class="line"></span> 
                  
            </div>         
        </div><!--//social-->   
    </div>  
    <!-- <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides" id="header-image">
                <li class="slide slide-1"></li>
            </ul>
        </div>
    </div> -->

    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides" id="header-image">
                <li class="slide slide-3"></li>
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->
</section><!--//promo-->

<!-- ******PRESS****** --> 
<div class="press">
    <div class="container text-center">
        <div class="row">
            <ul class="list-unstyled">
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><%= image_tag 'press-1.png', class: "img-responsive" %></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><%= image_tag 'press-2.png', class: "img-responsive" %></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><%= image_tag 'press-3.png', class: "img-responsive" %></a></li>                    
                <li class="col-md-2 col-sm-4 col-xs-6 sm-break"><a href="#"><%= image_tag 'press-4.png', class: "img-responsive" %></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6 xs-break"><a href="#"><%= image_tag 'press-5.png', class: "img-responsive" %></a></li>
                <li class="col-md-2 col-sm-4 col-xs-6"><a href="#"><%= image_tag 'press-6.png', class: "img-responsive" %></a></li>

            </ul>
        </div>
    </div>
</div><!--//press--> 

<!-- ******WHY****** --> 
<section id="why" class="why section">
    <div class="container">
        <h2 class="title text-center">Why Use <%= site_name %></h2>
        <p class="intro text-center">More than 300,000 happy customers are using <%= site_name %> around the world</p>
        <div class="row">
            <div class="benefits col-md-7 col-sm-6 col-xs-12">                    
                
                <div class="item clearfix">                            
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-users"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Brings your customers closer to you</h3>
                        <p class="desc">Google’s research into local search behavior reveals that local searchers are poised to take action. According to their findings, “50% of consumers who conducted a local search on their smartphone visited a store within a day, and 34% who searched on computer/tablet did the same.” This means ranking in local search has a direct impact on in-store traffic. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item clearfix">                            
                    <div class="icon col-md-3 col-xs-12 text-center">
                        <span class="pe-icon pe-7s-rocket"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Increases your business leads</h3>
                        <p class="desc">We already talked about how local searchers are more likely to visit a store, but Google found that these customers are likely to actually make a purchase, as well. They also found that one in three smartphone searches occurred immediately before a consumer visited a store and that 15% of in-store activity involved product or price comparison searches. </p>
                    </div><!--//content-->                            
                </div><!--//item-->
                <div class="item clearfix">                            
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-piggy"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Saves on additional website costs</h3>
                        <p class="desc">Instead of hiring or using an in-house developer to create location pages. Nearr.Me requests only your location data and that's it! Your location pages are automatically created! </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-phone"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Worry less about responsive design</h3>
                        <p class="desc">Your location pages are created with responsiveness in mind. Customers can seamlessly search your pages on their desktop, tablet, or mobile phone. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item last clearfix">
                    <div class="icon col-md-3  col-xs-12 text-center">
                        <span class="pe-icon pe-7s-map-marker"></span>
                    </div><!--//icon-->
                    <div class="content col-md-9 col-xs-12">
                        <h3 class="title">Built in click to call and get directions</h3>
                        <p class="desc">In addition to being responsive, your pages come built in with mobile click to call. Now your customers can contact you immediately! A customer is looking for directions to your business? No problem! We've also added a get directions button that connects with Google Maps. </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix"></div>
                <div class="text-center">
                    <a class="btn btn-cta btn-cta-secondary" href="/about" >Learn how it works</a>
                </div>
            </div> 
            <div class="testimonials col-md-4 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <div class="item">
                    <div class="quote-box">
                        <blockquote class="quote">When people use mobile search to help make a decision, they are <strong>57%</strong> more likely to visit a store.
                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">Steven Turner</span>
                            <span class="title">Bristol, UK</span>
                        </p> 
                        <i class="fa fa-quote-right"></i>                                
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag 'people-1.png', class: "img-rounded user-pic" %>                     
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item">
                    <div class="quote-box">
                        <blockquote class="quote">Business address/location ss the primary piece of information sought by local searchers.
                            
                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">Michelle Cheung</span>
                            <span class="title">San Francisco, US</span>
                        </p> 
                        <i class="fa fa-quote-right"></i>                                
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag 'people-2.png', class: "img-rounded user-pic" %>                      
                    </div><!--//people-->
                </div><!--//item-->
                <div class="item last">
                    <div class="quote-box">
                        <blockquote class="quote"><strong>18%</strong> Of local mobile searches lead to a sale within one day!
                        </blockquote><!--//quote-->
                        <p class="details">
                            <span class="name">James Lee</span>
                            <span class="title">London, UK</span>
                        </p> 
                        <i class="fa fa-quote-right"></i>                                
                    </div><!--//quote-box-->
                    <div class="people text-center">
                        <%= image_tag 'people-3.png', class: "img-rounded user-pic" %>>                       
                    </div><!--//people-->
                </div><!--//item-->
            </div>                   
        </div><!--//row-->
    </div><!--//container-->
</section><!--//why-->
</section>