<div class="col-md-12">
  <h1>Add Brand</h1>

  <%= form_tag '/brands', method: :post do %>

    <table class="table table-hover">
      <tbody>  
          <tr>
            <tr>
              <td>
                <td><%= label_tag :name %></td>
                <td><%= text_field_tag :brand_name %></td>
              </td>
              <td>
                  <td><%= label_tag :phone_number %></td>
                  <td><%= text_field_tag :brand_phone_number %></td>
              </td>
            </tr>
            <tr>
              <td>
                <td><%= label_tag :address_1 %></td>
                <td><%= text_field_tag :brand_address_1 %></td>
              </td>
            </tr>
            <tr>
              <td>
                <td><%= label_tag :address_2 %></td>
                <td><%= text_field_tag :brand_address_2 %></td>
              </td>
              <td>
                  <td></td>
                  <td></td>
              </td>
            </tr>
            <tr>
              <td>
                <td><%= label_tag :city %></td>
                <td><%= text_field_tag :brand_city %></td>
              </td>
              <td>
                  <td></td>
                  <td></td>
              </td>
            </tr>
            <tr>
              <td>
                <td><%= label_tag :state %></td>
                <td><%= text_field_tag :brand_state %></td>
              </td>
              <td>
                  <td></td>
                  <td></td>
              </td>
            </tr>
            <tr>
              <td>
                <td><%= label_tag :zipcode %></td>
                <td><%= text_field_tag :brand_zipcode %></td>
              </td>
              <td>
                  <td></td>
                  <td></td>
              </td>
            </tr>
        </tr>
      </tbody>
    </table>

  <%= submit_tag 'Add Brand', class: "btn btn-default"%>

  <% end %>
</div>  