<section class="section">  
  <div class="container">

    <div class="col-md-12">
      <h1>Add Brand</h1>

      <%= form_tag brands_path, class: "form-group", method: :post do %>
      <div class="col-md-12">
        <div class="col-md-6">
           <table class="table table-hover">
            <tbody>  
              <tr>
                <td>
                  <td><%= label_tag :name %></td>
                  <td><%= text_field_tag :brand_name, @brand.brand_name, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :address_1 %></td>
                  <td><%= text_field_tag :brand_address_1, @brand.brand_address_1, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :address_2 %></td>
                  <td><%= text_field_tag :brand_address_2, @brand.brand_address_2, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :city %></td>
                  <td><%= text_field_tag :brand_city, @brand.brand_city, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :state %></td>
                  <td><%= text_field_tag :brand_state, @brand.brand_state, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :zipcode %></td>
                  <td><%= text_field_tag :brand_zipcode, @brand.brand_zipcode, class: "form-control" %></td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

         <div class="col-md-6">
           <table class="table table-hover">
            <tbody>  
              <tr>
                <td>
                  <td><%= label_tag :phone_number %></td>
                  <td><%= text_field_tag :brand_phone_number, @brand.brand_phone_number, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :primary_brand_color %></td>
                  <td><%= text_field_tag :secondary_color, @brand.secondary_color, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :secondary_brand_color %></td>
                  <td><%= text_field_tag :primary_color, @brand.primary_color, class: "form-control" %></td>
                </td>
              </tr>
              <tr>
                <td>
                  <td><%= label_tag :tertiary_brand_color %></td>
                  <td><%= text_field_tag :tertiary_color, @brand.tertiary_color, class: "form-control" %></td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-12">
        <%= submit_tag 'Add Brand', class: "btn btn-cta-cms-search btn-xs"%>
      </div>

      <% end %>
    </div>  
  </div>
</section>