<section class="section">  
  <div class="container">

    <div class="col-md-12">
      <h1>Edit Location  <span class="edit-name">: <%= @location.business_name %></span></h1>

      <div class="progress" role="progressbar">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" id="bar"></div>
      </div>

      <!-- <ul class="nav nav-tabs">
        <li role="presentation"><a href="#local">Local</a></li>
        <li role="presentation"><a href="#about">About</a></li>
        <li role="presentation"><a href="#meta">Meta</a></li>
      </ul> -->

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a data-target="#local" data-toggle="tab">Location Information</a></li>
        <li><a data-target="#about" data-toggle="tab">About</a></li>
        <li><a data-target="#meta" data-toggle="tab">Meta Information</a></li>
      </ul>

      <%= form_tag brand_location_path, multipart: true, class: "form-group", method: :patch do %>
      
      <div class="tab-content">

      <div class="tab-pane active" id="local">
      <div class="row">
        <div class="col-md-12">
        <br>
        <% if @location.images.first != nil %>  
          <% if @location.images.first.image_path.nil? %>
            <img src="<%= @location.images.first.image.thumb %>">
          <% else %>
            <%= image_tag @location.images.first.image_path, heigth: '100', width: '100' %>
          <% end %>
        <% end %>
        <br>
        <h3>Location Information</h3>
          <div class="col-md-6">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td><%= label_tag :image, "Upload an image" %></td>
                  <td><%= file_field_tag :image, class: "file-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :business_name %></td>
                  <td><%= text_field_tag :business_name, @location.business_name, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :street_address_1 %></td>
                  <td><%= text_field_tag :address_1, @location.address_1, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :street_address_2 %></td>
                  <td><%= text_field_tag :address_2, @location.address_2, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :city %></td>
                  <td><%= text_field_tag :city, @location.city, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :state %></td>
                  <td><%= text_field_tag :state, @location.state, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :zipcode %></td>
                  <td><%= text_field_tag :zipcode, @location.zipcode, class: "form-control" %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table table-hover">
              <tbody>  
                <tr>
                  <td><%= label_tag :email %></td>
                  <td><%= text_field_tag :email, @location.email, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :phone_number %></td>
                  <td><%= text_field_tag :phone_number, @location.phone_number, class: "form-control" %></td>
                </tr>
                <tr>
                  <td><%= label_tag :hours_of_operation %></td>
                  <td data-toggle="tooltip" data-html="true" data-placement="bottom" title="Proper Hours Formatting:<br><br>List out your hours from Mon-Sun, seperating each day by semicolons.<br><br> 9:00am-5:00pm;9:00am-5:00pm;9:00am-5:00pm;9:00am-5:00pm;9:00am-5:00pm;Closed;Closed"><%= text_area_tag :hours_of_operation, @location.hours_of_operation, class: "form-control", size: "75x5" %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
        
      <div class="tab-pane" id="about">
      <div class="row">
        <div class="col-md-12"> 
        <br>
        <h3>About</h3>
        <table class="table table-hover">
          <tbody>  
            <tr>
                <td><%= label_tag :business_description %></td>
                <td><%= text_area_tag :business_description, @location.business_description, size: "75x10", class: "form-control" %></td>
            </tr>

            <tr>
                <td><%= label_tag :service_description %></td>
                <td><%= text_area_tag :service_description, @location.service_description, size: "75x10", class: "form-control" %></td>
            </tr>

            <tr>
                  <td><%= label_tag :areas_served %></td>
                  <td><%= text_field_tag :areas_served, @location.areas_served, size: "75x10", class: "form-control" %></td>
            </tr>

            <tr>
                  <td><%= label_tag :zipcodes_served %></td>
                  <td><%= text_field_tag :zipcodes_served, @location.zipcodes_served, size: "75x10", class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>

      <div class="tab-pane" id="meta">
      <div class="row">
        <div class="col-md-12">
        <br>
        <h3>Meta Information</h3>
        <table class="table table-hover">
          <tbody>  
            <tr>
              <td><%= label_tag :meta_url, "Custom Location URL" %></td>
              <td><%= text_field_tag :meta_url, @location.meta_url, size: "75x10", class: "form-control" %></td>
            </tr>
            <tr>
                <td><%= label_tag :tagline_title %></td>
                <td><%= text_field_tag :tagline_title, @location.tagline_title, size: "75x10", class: "form-control" %></td>
            </tr>
            <tr>
                <td><%= label_tag :tagline_summary %></td>
                <td><%= text_field_tag :tagline_summary, @location.tagline_summary, size: "75x10", class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= label_tag :meta_description %></td>
              <td><%= text_area_tag :meta_description, @location.meta_description, size: "75x10", class: "form-control"  %></td>
            </tr>

            <tr>
              <td><%= label_tag :meta_keywords %></td>
              <td><%= text_area_tag :meta_keywords, @location.meta_keywords, size: "75x10", class: "form-control" %></td>
            </tr>

            <tr>
              <td><%= label_tag :meta_title %></td>
              <td><%= text_field_tag :meta_title, @location.meta_title, size: "75x10", class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>

      </div>

      <%= submit_tag 'Update Location', class: "btn btn-cta-cms-search btn-xs" %>

      <% end %>
    </div>  
  </div>
</section>