<section class="section">  
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Location Name</th>
          <th>City</th>
          <th>State</th>
          <th>Updated at</th>
          <th>Created at</th>
          <th>View</th> 
          <th>Edit</th>
          <th>Delete</th>  
        </tr>
      </thead>
    <% @locations.each do |location| %>
      <tbody>
        <tr>
          <td><%= location.id %></td>
          <td><%= location.business_name %></td>
          <td><%= location.city %></td>
          <td><%= location.state %></td>
          <td><%= location.updated_at %></td>
          <td><%= location.created_at %></td>
          <td>
            <%= link_to "View", location_subdomain_url(location), class: "btn btn-cta-cms-view btn-xs" %>
          </td>
          <td>
            <%= link_to "Edit", edit_brand_location_path(location.brand, location.id), class: "btn btn-cta-cms-view btn-xs" %>
          </td> 
          <td>
            <%= link_to "Delete", brand_location_path(location.brand, location.id), method: :delete, class: "btn btn-cta-cms-delete btn-xs", data: {confirm: "Are you sure?"}  %>
          </td>  
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</section>