<div class="col-md-12">
  <h1>Edit Image  <span class="edit-name">: <%= @image.image_name %></span></h1>

  <!-- <ul class="nav nav-tabs">
    <li role="presentation"><a href="#local">Local</a></li>
    <li role="presentation"><a href="#about">About</a></li>
    <li role="presentation"><a href="#meta">Meta</a></li>
  </ul> -->

  <%= form_tag brand_image_update_path, method: :patch do %>
  
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <tbody>  
          <tr>
            <td><%= label_tag :name %></td>
            <td><%= text_field_tag :image_name, @image.image_name %></td>
          </tr>
          <tr>
            <td><%= label_tag :category %></td>
            <td><%= text_field_tag :image_category, @image.image_category %></td>
          </tr>
          <tr>
            <td><%= label_tag :image_url %></td>
            <td><%= text_field_tag :image_path, @image.image_path %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= submit_tag 'Update Location', class: "btn btn-default"%>

  <% end %>
</div>  