<section class="section">  
  <div class="container">

    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Name <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/brands/<%= @brand.id %>/images?filter=image_name&filter_order=asc">By Name Ascending</a>
        <li><a href="/brands/<%= @brand.id %>/images?filter=image_name&filter_order=desc">By Name Descending</a> 
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Created At <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/brands/<%= @brand.id %>/images?filter=created_at&filter_order=desc">Recently Created</a>
        <li><a href="/brands/<%= @brand.id %>/images?filter=created_at&filter_order=asc">Oldest Creation</a> 
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Updated At <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/brands/<%= @brand.id %>/images?filter=updated_at&filter_order=desc">Recently Updated</a>
        <li><a href="/brands/<%= @brand.id %>/images?filter=updated_at&filter_order=asc">Never Updated</a> 
      </ul>
    </div>

    <%= link_to "Add new image", brand_image_new_path(@brand), class: "btn btn-default navbar-right" %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Image ID</th>
          <th>Image Name</th>
          <th>Updated at</th>
          <th>Created at</th>
          <th>View</th> 
          <th>Edit</th>
          <th>Delete</th>  
        </tr>
      </thead>
    <% @images.each do |image| %>
      <tbody>
        <tr>
          <td><%= image.id %></td>
          <td><%= image.image_name %></td>
          <td><img src="<%= image.image.thumb.url %>"></td>
          <td><%= image.updated_at %></td>
          <td><%= image.created_at %></td>
          <td>
            <%= link_to "View", brand_image_show_path(:id => image.id), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to "Edit", brand_image_edit_path(:id => image.id), class: "btn btn-info" %>
          </td> 
          <td>
            <%= link_to "Delete", brand_image_delete_path(:id => image.id), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}  %>
          </td>  
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</section>