<section class="section">  
  <div class="container">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Thumbnail</th>
          <th>Updated at</th>
          <th>Created at</th>
          <th>View</th> 
          <th>Edit</th>
          <th>Delete</th>  
        </tr>
      </thead>
    <% @images.each do |image| %>
      <tbody>
        <tr>
          <td><%= image.id %></td>
          <td><%= image.image_name %></td>
          <td><img src="<%= image.image.thumb.url %>"></td>
          <td><%= image.updated_at %></td>
          <td><%= image.created_at %></td>
          <td>
            <%= link_to "View", brand_image_path(:id => image.id), class: "btn btn-cta-cms-view btn-xs" %>
          </td>
          <td>
            <%= link_to "Edit", edit_brand_image_path(:id => image.id), class: "btn btn-cta-cms-view btn-xs" %>
          </td> 
          <td>
            <%= link_to "Delete", brand_image_path(:id => image.id), method: :delete, class: "btn btn-cta-cms-delete btn-xs", data: {confirm: "Are you sure?"}  %>
          </td>  
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</section>