<script>
  window.brandId = <%= @images.first.imageable_id unless @images.first.blank? %>
</script>

<section class="section">  
  <div class="container">

    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Updated</th>
          <th>Created</th>
          <th>View</th> 
          <th>Edit</th>
          <th>Delete</th>  
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="image in images | filter: {image_name: searchFilter} | orderBy:sortByAttribute:descending">
          <td>{{ image.id }}</td>
          <td>{{ image.image_name }}</td>
          <td>{{ image.updated_at }}</td>
          <td>{{ image.created_at }}</td>
          <td>
            <%= link_to 'View', "#imageModal-{{image.id}}", "data-toggle" => "modal", class: 'btn btn-cta-cms-view btn-xs' %>
          </td>
          <td>
            <% url_escaped_href = edit_brand_image_path('{{ image.brand_id }}', '{{ image.id }}') 
              edit_brand_image_path = URI::unescape(url_escaped_href)
            %>
            <a ng-href="<%= edit_brand_image_path %>" class="btn btn-cta-cms-view btn-xs">Edit</a>
          </td> 
          <td>
            <%= link_to "Delete", "/brands/{{ image.brand_id }}/images/{{ image.id }}", method: :delete, class: "btn btn-cta-cms-delete btn-xs", data: {confirm: "Are you sure?"}  %>
          </td>  
        </tr>
      </tbody>
    </table>

  </div>
</section>

<% @images.each do |image| %>
<!--- MODAL -->
<div class="modal modal-wide fade" id="imageModal-<%= image.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img src="<%= image.image.url %>" class="center-image">
      </div>
    </div>
  </div>
</div>
<!--END MODAL-->
<% end %>