<section class="section">  
  <div class="container">

    <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
     
        <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-12">
      <h1>Add Image</h1>

      <%= form_tag brand_images_path, multipart: true, method: :post do %>

        <table class="table table-hover">
          <tbody>  
              <tr>
                <tr>
                  <td>
                    <td><%= label_tag :name %></td>
                    <td><%= text_field_tag :image_name, @image.image_name, class: "form-control" %></td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <td><%= label_tag :category %></td>
                    <td data-toggle="tooltip" data-html="true" data-placement="bottom" title="Select from the list of category options. <br><br>Logo: appends itself to the brand logo section of the location page.<br><br>Header: customizes the head image of the location pages.<br><br>About, Services, and Areas: set the images for the about, services, and areas section.<br><br>Favicon: customizes the favicon image of the page.<br><br>If no images are created for these sections none will appear."g>
                      <%= select_tag :image_category, options_for_select(["logo", "header", "about", "services", "areas", "favicon"], @image.image_category), class: "form-control" %>
                    </td>
                  </td>
                </tr>
                <tr>
                  <td>
                    <td><%= label_tag :image, "Upload an image" %></td>
                    <td><%= file_field_tag :image, class: "file-control" %></td>
                  </td>
                </tr>
          </tbody>
        </table>

      <%= submit_tag 'Add Image', class: "btn btn-cta-cms-search btn-xs"%>

      <% end %>
    </div>  
  </div>
</section>