
<!DOCTYPE html>
<html>
<head>
  <title><%= @brand.brand_name %> | Locations</title>
  <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
</head>
<body>

  <div ng-app="app">
  <% if current_page?(brand_locations_path(@brand.id)) %>  
    <div ng-controller="locationsCtrl" ng-init="setup()">
  <% elsif current_page?(brand_images_path(@brand.id)) %>
    <div ng-controller="imagesCtrl" ng-init="setup()">
  <% elsif current_page?(brand_contents_path(@brand.id)) %>
    <div ng-controller="contentsCtrl" ng-init="setup()">
  <% end %>

  <header id="header" class="cms header">  
      <div class="container">            
          <h1 class="logo pull-left">
              <a href="<%= brand_locations_path(@brand.id) %>">
                  <% if @brand.images.where(image_category: 'logo').take %>  
                    <span class="logo-title brand-logo"><img src="<%= @brand.images.where(image_category: 'logo').first.image.logo %>"></span>
                  <% else %>
                    <span class="logo-title"><%= @brand.brand_name %></span>
                  <% end %>
              </a>
          </h1><!--//logo-->              
          <nav id="main-nav" class="main-nav navbar-right" role="navigation">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button><!--//nav-toggle-->
              </div><!--//navbar-header-->            
              <div class="navbar-collapse collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav"> 
                    <li class="nav-item"><a href="<%= brands_path %>">Brands</a></li>
                    <li class="nav-item"><a href="<%= brand_locations_path(@brand.id) %>">Locations</a></li>
                    <li class="nav-item"><a href="<%= brand_images_path(@brand.id) %>">Images</a></li>
                    <li class="nav-item"><a href="<%= brand_contents_path(@brand.id) %>">Content</a></li>
                    <li class="nav-item"><a href="<%= import_export_brand_locations_path %>">Import/Export</a></li>          

                    <li><input class="form-control hidden-xs hidden-sm" placeholder="<%= @searchPlaceholder %>" ng-model="searchFilter"></li>


                    <li class="nav-item"><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>

                  </ul><!--//nav-->
              </div><!--//navabr-collapse-->
          </nav><!--//main-nav-->           
      </div><!--//container-->

      <div class="filter-cms-bar ">
        <div class="container">
            <div class="row">
              <div class="col-md-12">

                <div class="btn-group">
                  <% if current_page?(brand_locations_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('business_name')">
                      Filter by Name <span class="caret"></span>
                    </button>

                  <% elsif current_page?(brand_images_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('image_name')">
                      Filter by Name <span class="caret"></span>
                    </button>
                  <% elsif current_page?(brand_contents_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('content_name')">
                      Filter by Name <span class="caret"></span>
                    </button>
                  <% end %>
                </div>

                <div class="btn-group">
                  <% if current_page?(brand_locations_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('updated_at')">
                      Filter by Updated At <span class="caret"></span>
                    </button>

                  <% elsif current_page?(brand_images_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('updated_at')">
                      Filter by Updated At <span class="caret"></span>
                    </button>
                  <% elsif current_page?(brand_contents_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('updated_at')">
                      Filter by Updated At <span class="caret"></span>
                    </button>
                  <% end %>
                </div>

                <div class="btn-group">
                  <% if current_page?(brand_locations_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('created_at')">
                      Filter by Created At <span class="caret"></span>
                    </button>

                  <% elsif current_page?(brand_images_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('created_at')">
                      Filter by Created At <span class="caret"></span>
                    </button>
                  <% elsif current_page?(brand_contents_path(@brand.id)) %>
                    <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('created_at')">
                      Filter by Created At <span class="caret"></span>
                    </button>
                  <% end %>
                </div>
                
                <% if current_page?(brand_locations_path(@brand.id)) %> 
                  <%= link_to "Add new location", new_brand_location_path, class: "btn btn-cta-cms btn-xs pull-right" %>

                  <br>
                  <br>
                  <input class="form-control visible-xs visible-sm" placeholder="<%= @searchPlaceholder %>" ng-model="searchFilter">
                <% elsif current_page?(brand_images_path(@brand.id)) %>
                  <%= link_to "Add new image", new_brand_image_path(@brand), class: "btn btn-cta-cms btn-xs pull-right" %>

                  <br>
                  <br>
                  <input class="form-control visible-xs visible-sm" placeholder="<%= @searchPlaceholder %>" ng-model="searchFilter">
                <% elsif current_page?(brand_contents_path(@brand.id)) %>
                  <%= link_to "Add new content", new_brand_content_path(@brand), class: "btn btn-cta-cms btn-xs pull-right" %>

                  <br>
                  <br>
                  <input class="form-control visible-xs visible-sm" placeholder="<%= @searchPlaceholder %>" ng-model="searchFilter">
                <% end %>
            </div>
          </div>
        </div>
      </div>

  </header><!--//header-->

  <div class="container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <!-- ******FOOTER****** --> 
  <div class="bottom-cms-bar">
      <div class="container">
          <div class="row">
              <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ <%= Time.now.year %> <a href="#"><%= site_name %></a></small>

          </div><!--//row-->
      </div><!--//container-->
  </div><!--//bottom-bar-->

  </div><!-- NG-CONTROLLER END -->
  </div><!-- NG-APP END -->

</body>
</html>
