<!DOCTYPE html>
<html>
<head>
  <title>CmsLocationApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="dashboard">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobilenav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= brand_location_path %>"><%= @brand.brand_name %></a>
      </div>

      <div class="collapse navbar-collapse" id="mobilenav">
        <ul class="nav navbar-nav">
          <li><a href="<%= brand_location_path %>">Locations</a></li>
          <li><a href="<%= brand_image_path %>">Images</a></li>
          <li><a href="<%= brand_content_path %>">Content</a></li>
          <!-- <li><a href="#">Users</a></li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign In", "/users/sign_in", method: :get if !user_signed_in? %></li>
          <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>
        </ul>

        <% if current_page?(brand_location_path) %>
          <%= form_tag brand_location_path, method: :get, class: "navbar-form navbar-right" do %>
            <%= text_field_tag :search, nil, placeholder: "Search Locations", class: "form-control" %>
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          <% end %>
        <% elsif current_page?(brand_image_path) %>
          <%= form_tag brand_image_path, method: :get, class: "navbar-form navbar-right" do %>
            <%= text_field_tag :search, nil, placeholder: "Search Images", class: "form-control" %>
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          <% end %>
        <% elsif current_page?(brand_content_path) %>
          <%= form_tag brand_content_path, method: :get, class: "navbar-form navbar-right" do %>
            <%= text_field_tag :search, nil, placeholder: "Search Content", class: "form-control" %>
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          <% end %>
        <% end %>

        

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </nav>

  <div class="container">

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>

    <div class="row">
        <%= yield %>
    </div>
  </div>

</body>
</html>
