<!DOCTYPE html>
<html>
<head>
  <title><%= @brand.brand_name %> | Locations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header" class="header">  
      <div class="container">            
          <h1 class="logo pull-left">
              <a href="<%= brand_location_path %>">
                  <% if @brand.images.where(image_category: 'logo').take %>  
                    <span class="logo-title brand-logo"><img src="<%= @brand.images.where(image_category: 'logo').first.image.logo %>"></span>
                  <% else %>
                    <span class="logo-title"><%= @brand.brand_name %></span>
                  <% end %>
              </a>
          </h1><!--//logo-->              
          <nav id="main-nav" class="main-nav navbar-right" role="navigation">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button><!--//nav-toggle-->
              </div><!--//navbar-header-->            
              <div class="navbar-collapse collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav"> 
                    <li class="nav-item"><a href="<%= brand_path %>">Brands</a></li>
                    <li class="nav-item"><a href="<%= brand_location_path %>">Locations</a></li>
                    <li class="nav-item"><a href="<%= brand_image_path %>">Images</a></li>
                    <li class="nav-item"><a href="<%= brand_content_path %>">Content</a></li>                        

                    <% if current_page?(brand_location_path) %>
                      <li>
                        <%= form_tag brand_location_path, method: :get, class: "navbar-form navbar-right" do %>
                          <%= text_field_tag :search, nil, placeholder: "Search Locations", class: "form-control" %>
                          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
                        <% end %>
                      </li>
                    <% elsif current_page?(brand_image_path) %>
                      <li>
                        <%= form_tag brand_image_path, method: :get, class: "navbar-form navbar-right" do %>
                          <%= text_field_tag :search, nil, placeholder: "Search Images", class: "form-control" %>
                          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
                        <% end %>
                      </li>
                    <% elsif current_page?(brand_content_path) %>
                      <li>
                        <%= form_tag brand_content_path, method: :get, class: "navbar-form navbar-right" do %>
                          <%= text_field_tag :search, nil, placeholder: "Search Content", class: "form-control" %>
                          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
                        <% end %>
                      </li>
                    <% end %>

                    <!-- <li class="nav-item"><%= link_to "Sign In", "/users/sign_in", method: :get if !user_signed_in? %></li> -->
                    <li class="nav-item"><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>

                  </ul><!--//nav-->
              </div><!--//navabr-collapse-->
          </nav><!--//main-nav-->           
      </div><!--//container-->
  </header><!--//header-->

  <div class="container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
