<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %> | Brands</title>
  <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
</head>
<body>
  <div ng-app="app">
  <div ng-controller="brandsCtrl" ng-init="setup()">

  <header id="header-cms" class="header">  
      <div class="container">            
          <h1 class="logo pull-left">
              <a href="/brands">
                  <span class="logo-title">Brands</span>
              </a>
          </h1><!--//logo-->              
          <nav id="main-nav" class="main-nav navbar-right" role="navigation">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button><!--//nav-toggle-->
              </div><!--//navbar-header-->            
              <div class="navbar-collapse collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav">                         

                  <% if current_page?(brands_path) %>
                    <li>  
                      <input class="form-control hidden-xs hidden-sm" placeholder="Search Brands" ng-model="searchFilter">
                    </li>
                  <% end %>

                    <li class="nav-item"><%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in? %></li>

                  </ul><!--//nav-->
              </div><!--//navabr-collapse-->
          </nav><!--//main-nav-->           
      </div><!--//container-->

      <div class="filter-cms-bar ">
        <div class="container">
            <div class="row">
              <div class="col-md-12">

              <% if current_page?(brands_path(@brand)) %>
                <div class="btn-group">
                  <button class="btn btn-cta-cms btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('brand_name')">
                    Filter by Name <span class="caret"></span>
                  </button>
                </div>

                <div class="btn-group">
                  <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('updated_at')">
                    Filter by Updated At <span class="caret"></span>
                  </button>
                </div>

                <div class="btn-group">
                  <button class="btn btn-cta-cms btn-xs dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="sortBy('created_at')">
                    Filter by Created At <span class="caret"></span>
                  </button>
                </div>

                <%= link_to "Add new brand", "/brands/new", class: "btn btn-cta-cms btn-xs pull-right" %>

                <br>
                <br>
                <input class="form-control visible-xs visible-sm" placeholder="Search Brands" ng-model="searchFilter">
              <% end %>

            </div>
          </div>
        </div>
      </div>

  </header><!--//header-->

  <div class="container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>

  <!-- ******FOOTER****** --> 
  <div class="bottom-cms-bar">
      <div class="container">
          <div class="row">
              <small class="copyright col-md-6 col-sm-6 col-xs-12">Copyright @ <%= Time.now.year %> <a href="#"><%= site_name %></a></small>
          </div><!--//row-->
      </div><!--//container-->
  </div><!--//bottom-bar-->

  </div><!-- NG-CONTROLLER END -->
  </div><!-- NG-APP END -->

</body>
</html>
