<!DOCTYPE html>
<html>
<head>
  <% if !@brand.images.where(image_category: 'favicon').first.blank? %>
    <link rel="icon" type="image/png" href="<%= @brand.images.where(image_category: 'favicon').first.image.url %>">
  <% end %>

  <title><%= @brand.brand_meta_title %></title>
  <meta name="description" content="<%= @brand.brand_meta_description %>">
  <meta name="keywords" content="<%= @brand.brand_meta_keywords %>">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    'location_application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if !@brand.primary_color.blank? && !@brand.secondary_color.blank? && !@brand.tertiary_color.blank? %>
  <style>
    a {
      color: <%= @brand.secondary_color %>;
    }
    a:hover {
      color: <%= @brand.primary_color %>;
    }
    .header h1.logo a {
      color: <%= @brand.primary_color %>;
    }
    .header h1.logo a:hover {
      color: <%= @brand.secondary_color %>;
    }
    .header .main-nav .navbar-toggle {
        background: <%= @brand.secondary_color %>;
    }
    .header .main-nav .navbar-toggle:hover {
        background: <%= @brand.secondary_color %>;
    }
    .header .main-nav .nav .nav-item a:hover {
      color: <%= @brand.primary_color %>;
    }

    .header .main-nav .nav .nav-item.active {
      color: <%= @brand.primary_color %>;
    }
    .promo .social {
      background: <%= @brand.primary_color %>;
    }
  </style>
<% end %>

<body id="location-page">

  <!-- ******HEADER****** --> 
  <header id="header" class="header">  
      <div class="container">            
          <h1 class="logo pull-left">
              <a href="#promo">
                <% if @brand.images.where(image_category: 'logo').take %>  
                  <span class="logo-title brand-logo"><img src="<%= @brand.images.where(image_category: 'logo').first.image.logo %>"></span>
                <% else %>
                  <span class="logo-title"><%= @brand.brand_name %></span>
                <% end %>
              </a>
          </h1><!--//logo-->              
          <nav id="main-nav" class="main-nav navbar-right" role="navigation">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button><!--//nav-toggle-->
              </div><!--//navbar-header-->            
              <div class="navbar-collapse collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav">
                  </ul><!--//nav-->
              </div><!--//navabr-collapse-->
          </nav><!--//main-nav-->           
      </div><!--//container-->
  </header><!--//header-->

  
  <div class="container">
    <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
  </div>

  <% if !@brand.images.where(image_category: 'header').first.blank? %>
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section">  
        <div class="container intro">
          <% if !@brand.brand_tagline_title.blank? %>
            <h2 class="title"><%= raw @brand.brand_tagline_title %></h2>
            <p class="summary"><%= raw @brand.brand_tagline_summary %></p>
          <% end %>

        </div><!--//intro-->
        
        <div class="fixed-container">
            
            <div class="social text-center">
                <div class="container">
                    <span class="line"></span>    
                </div>         
            </div><!--//social-->   
        </div>  
        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-header"><img class="image-respond" src="<%= @brand.images.where(image_category: 'header').first.image.header %>"></li>
                    <!-- <li class="slide slide-1"></li> -->
                    <!-- <li class="slide slide-2"></li> -->
                    <!-- <li class="slide slide-3"></li> -->
                </ul>
            </div>
        </div><!--//bg-slider-wrapper--> 
    </section>
    <!--//promo-->
  <% end %>

  <section class="content">
      <div class="container">
        <h1><%= @brand.brand_name %> Locations</h1>
        <br>
        <br>
        <div class="row">
          <div class="container">
            <% @locations.each do |state| %>
              <h3><%= state[0] %></h3>
              <ul>
                <% state[1].each do |city| %>
                <li>
                  <%= city[0] %>

                  <%= city[1].each do |array| %>
                  <ul>
                    <li>
                      <%= array[1] %>
                    </li>
                  </ul>
                  <% end %>
                </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div><!-- /.row -->
      </div>
    </section>
  <br>
  <br>
  <div class="container">
    <!-- FOOTER -->
    <footer>
      <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
      <p>&copy; <%= Time.now.year %> <%= @brand.brand_name %> <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
    </footer>
  </div><!-- /.container -->

  </body>
</html>
