<!DOCTYPE html>
<html>
<head>
  <% if !@location.brand.images.where(image_category: 'favicon').first.blank? %>
    <link rel="icon" type="image/png" href="<%= @location.brand.images.where(image_category: 'favicon').first.image.url %>">
  <% end %>
  <title><%= @location.meta_title %></title>
  <meta name="description" content="<%= @location.meta_description %>">
  <meta name="keywords" content="<%= @location.meta_keywords %>">
  <%= stylesheet_link_tag    'location_application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  
  <% if !@location.brand.primary_color.blank? && !@location.brand.secondary_color.blank? && !@location.brand.tertiary_color.blank? %>
    <style>
      a {
        color: <%= @location.brand.secondary_color %>;
      }
      a:hover {
        color: <%= @location.brand.primary_color %>;
      }
      a.btn-cta-primary, 
      .btn-cta-primary {
        background: <%= @location.brand.secondary_color %>;
        border: 2px solid <%= @location.brand.secondary_color %>;
      }

      a.btn-cta-primary:hover,
      .btn-cta-primary:hover {
        background: <%= @location.brand.primary_color %>;
        border: 2px solid <%= @location.brand.primary_color %>;
      }
      a.btn-cta-secondary,
      .btn-cta-secondary {
        border: 2px solid <%= @location.brand.secondary_color %>;
        color: <%= @location.brand.secondary_color %>;
      }
      a.btn-cta-secondary .fa,
      .btn-cta-secondary .fa {
        color: <%= @location.brand.secondary_color %>;
      }
      a.btn-cta-secondary:hover,
      .btn-cta-secondary:hover {
        border: 2px solid <%= @location.brand.primary_color %>;
        color: <%= @location.brand.primary_color %>;
      }
      .header h1.logo a {
        color: <%= @location.brand.primary_color %>;
      }

      .header h1.logo a:hover {
        color: <%= @location.brand.secondary_color %>;
      }
      .header .main-nav .nav .nav-item.nav-item-cta .btn-cta-primary {
        background: <%= @location.brand.secondary_color %>;
        border: 2px solid <%= @location.brand.secondary_color %>;
      }
      .header .main-nav .navbar-toggle {
          background: <%= @location.brand.secondary_color %>;
      }
      .header .main-nav .navbar-toggle:hover {
          background: <%= @location.brand.secondary_color %>;
      }
      .header .main-nav .nav .nav-item.nav-item-cta .btn-cta-primary:hover {
        background: <%= @location.brand.primary_color %>;
        border: 2px solid <%= @location.brand.primary_color %>;
      }
      .header .main-nav .nav .nav-item a:hover {
        color: <%= @location.brand.primary_color %>;
      }

      .header .main-nav .nav .nav-item.active {
        color: <%= @location.brand.primary_color %>;
      }
      .promo .social {
        background: <%= @location.brand.primary_color %>;
      }

      .map {
        background: <%= @location.brand.tertiary_color %> no-repeat center center;
      }
      .services {
        background: <%= @location.brand.primary_color %> no-repeat center center;
      }
      .areas {
        background: <%= @location.brand.tertiary_color %> no-repeat center center;
      }
      .mobile-call {
        background-color: <%= @location.brand.primary_color %>;
      }
    </style>
  <% end %>
</head>
<body id="location-page">

    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a href="#promo"> 
                  <% if @location.brand.images.where(image_category: 'logo').take %> 
                    <span class="logo-title brand-logo"><img src="<%= @location.brand.images.where(image_category: 'logo').first.image.logo %>"></span>
                  <% else %>
                    <span class="logo-title"><%= @location.brand.brand_name %></span>
                  <% end %>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">

                      <% if !@location.business_description.blank? %>
                        <li class="nav-item"><a href="#about">About</a></li>
                      <% end %>

                      <% if !@location.service_description.blank? %>
                        <li class="nav-item"><a href="#services">Services</a></li>
                      <% end %>

                      <% if !@location.areas_served.blank? %>
                        <li class="nav-item"><a href="#areas">Areas Served</a></li>  
                      <% end %> 

                      <% if !@location.email.blank? %>
                        <li class="nav-item nav-item-cta last">
                          <button type="button" class="btn btn-cta btn-cta-primary" data-toggle="modal" data-target="#contactModal" >Contact</button>
                        </li>
                      <% end %>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div><!--//container-->
    </header><!--//header-->

  <div class="container">
    <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
  </div>

  <% if !@location.brand.images.where(image_category: 'header').first.blank? %>
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section">  
        <div class="container intro">
          <% if !@location.tagline_title.blank? %>
            <h2 class="title"><%= raw @location.tagline_title %></h2>
            <p class="summary"><%= raw @location.tagline_summary %></p>
            <a class="btn btn-cta btn-cta-secondary" data-toggle="modal" data-target="#contactModal">Learn More</a>
          <% end %>

        </div><!--//intro-->
        
        <div class="fixed-container">
            
            <div class="social text-center">
                <div class="container">
                    <span class="line"></span>    
                </div>         
            </div><!--//social-->   
        </div>  
        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-header"><img class="image-respond" src="<%= @location.brand.images.where(image_category: 'header').first.image.header %>"></li>
                </ul>
            </div>
        </div><!--//bg-slider-wrapper--> 
    </section>
    <!--//promo-->
  <% end %>

    <section class="map">
      <div class="container">
        <div class="row" data-track-category="Business Card">
          <div class="col-md-4"> 
              <% if !@location.images.first.blank? %>
                <img src="<%= @location.images.first.image.local_image %>" class="img-thumbnail">
              <% end %>

            <div> 
              <h3 itemprop="name" class="mobile-tablet-center"><%= @location.business_name %></h3>
              
              
              <span itemprop="telePhone" class="desktop mobile-tablet-center phone hidden-xs">
                <%= @location.phone_number %>
              </span>

              <span class="mobile-phone visible-xs-inline">
                <a class="mobile-tablet-center" href="tel:<%= @location.phone_number %>"><%= @location.phone_number %></a>
              </span>

              <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="mobile-tablet-center">
                <span itemprop="streetAddress"><%= @location.address_1 %> <%= @location.address_2 %><br></span><span itemprop="addressLocality"><%= @location.city %>,
                </span>
                <span itemprop="addressRegion"><%= @location.state %> </span><span itemprop="postalCode"><%= @location.zipcode %></span>
                <meta itemprop="addressCountry" content="USA">
                <br>
                
              <% if !@location.hours_of_operation.blank? %>
                <h5><a data-toggle="popover" data-placement="bottom" style="cursor:pointer" class="mobile-tablet-center">Hours of Operation</a></h5>
                <% hours = @location.hours_of_operation.split(";") %>
                <!-- Hidden hours of operation div -->
                <div id="myPopoverContent" class="hide">
                  <div class="col-md-12">
                    <table>
                      <tr>
                        <td>Monday &nbsp;&nbsp;</td>
                        <td><%= hours[0] %></td>
                      </tr>
                      <tr>
                        <td>Tuesday &nbsp;&nbsp;</td>
                        <td><%= hours[1] %></td>
                      </tr>
                      <tr>
                        <td>Wednesday &nbsp;&nbsp;</td>
                        <td><%= hours[2] %></td>
                      </tr>
                      <tr>
                        <td>Thursday &nbsp;&nbsp;</td>
                        <td><%= hours[3] %></td>
                      </tr>
                      <tr>
                        <td>Friday &nbsp;&nbsp;</td>
                        <td><%= hours[4] %></td>
                      </tr>
                      <tr>
                        <td>Saturday &nbsp;&nbsp;</td>
                        <td><%= hours[5] %></td>
                      </tr>
                      <tr>
                        <td>Sunday &nbsp;&nbsp;</td>
                        <td><%= hours[6] %></td>
                      </tr>
                    </table>
                  </div>
                </div>
              <% end %>

              </p>
            </div>
          </div>

          <div class="col-md-8">
              <!-- #Google Maps API -->
              <div id="map"></div>
          </div>
        </div>
      </div>
    </section>

  <% if !@location.business_description.blank? %>
    <section class="location-about" id="about">
      <div class="container">
        <div class="row featurette">
          <div class="col-md-6 col-md-push-6">
            <h2 class="featurette-heading">About Us</h2>
            <p class="lead"><%= raw @location.business_description %></p>
          </div>

          <div class="col-md-6 col-md-pull-6">
            <% if @location.brand.images.where(image_category: 'about').take %>  
              <img class="featurette-image img-responsive img-thumbnail" src="<%= @location.brand.images.where(image_category: 'about').first.image.square %>"></span>
            <% end %>
          </div>
          
        </div>
      </div>
    </section>
  <% end %>

  <% if !@location.service_description.blank? %>
    <section class="services" id="services">
      <div class="container">
        <div class="row featurette">
          <div class="col-md-6 col-md-push-6">
            <% if @location.brand.images.where(image_category: 'services').take %>  
              <img class="featurette-image img-responsive img-thumbnail text-right" src="<%= @location.brand.images.where(image_category: 'services').first.image.square %>"></span>
            <% end %>
          </div>

          <div class="col-md-6 col-md-pull-6">
            <h2 class="featurette-heading">Services</h2>
            <p class="lead services-font-color"><%= raw @location.service_description %></p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if !@location.areas_served.blank?  %>
    <section class="areas" id="areas">
      <div class="container">
        <div class="row featurette">
          <div class="col-md-6">
            <% if @location.brand.images.where(image_category: 'areas').take %>  
              <img class="featurette-image img-responsive img-thumbnail" src="<%= @location.brand.images.where(image_category: 'areas').first.image.square %>"></span>
            <% end %>
          </div>

          <div class="col-md-6">
            <h2 class="featurette-heading">Areas Served</h2>
            <p class="lead">
              <%= raw @location.areas_served %>

              <% if !@location.zipcodes_served.blank?  %>
                <br>
                <br>
                <%= raw @location.zipcodes_served %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @location.brand.contents.count != 0 %>
    <section class="content" id="content">
      <div class="container">
        <div class="row">

        <% @location.brand.contents.each_with_index do |content, index| %>
          <div class="col-lg-4 content-fixed">
            <!-- <img class="img-circle center-block" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2><%= raw @location.brand.contents[index].content_name %></h2>
            <p><%= raw @location.brand.contents[index].content_field %></p>
          </div><!-- /.col-lg-4 -->
        <% end %>


        </div><!-- /.row -->
      </div>
    </section>
  <% end %>

  <!--- MODAL -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
        </div>
        <div class="modal-body">
            <%= form_tag location_send_email_path(@location) do %>
              <div class="form-group">
                    <%= label_tag 'name', 'Name' %>
                    <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
                </div>
               <div class="form-group">
                   <%= label_tag 'email', 'Email' %>
                   <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
               </div>
               <div class="form-group">
                   <%= label_tag 'comments', 'Message' %>
                   <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Message' %>
                   <%= hidden_field_tag 'location_email', @location.email %>
               </div>
             <%= submit_tag nil, class: 'btn btn-cta btn-cta-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--END MODAL-->

  <div class="container">
    <!-- FOOTER -->
    <footer>
      <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
      <p>&copy; <%= Time.now.year %> <%= @location.brand.brand_name %> <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
      <p><a href="<%= @location.brand.brand_subdomain + "." + @location.brand.brandurl + "/directory" %>">Locations</a></p>
    </footer>
  </div><!-- /.container -->

  <div class="mobile-call navbar-fixed-bottom visible-xs text-center">
    <a href="tel:<%= @location.phone_number %>">
      <ul id="mobile-phonecall">
        <li>
          <span class="glyph-phone glyphicon glyphicon-earphone"></span>
          <br>
          <span class="mobile-span">Call Now</span>
        </li>
      </ul>
    </a>
    <a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=<%= @location.full_address %>">
      <ul id="mobile-directions">
        <li>
          <span class="glyph-phone glyphicon glyphicon-map-marker"></span>
          <br>
          <span class="mobile-span">Directions</span>
        </li>
      </ul>
    </a>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"></script>

  <script type="text/javascript">
    var obj = {
      lat: <%= @location.latitude %>,
      long: <%= @location.longitude %>
    }
    var manager = new MapManager
    manager.initMap(obj)
  </script>
  <!-- trace -->

  </body>
</html>
