<!DOCTYPE html>
<html>
<head>
  <title>CmsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="location-page">
    
    <!-- <div class="navbar-wrapper"> -->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">  
      <div class="container">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand Logo</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right"> -->
              <!---<li><a href="#location">Locations</a></li>-->
              <!-- <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#areas">Areas</a></li>
              <li><a href="#contact">Contact</a></li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav> -->
    <!-- </div> -->

    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a href="#header">
                  <% if @brand.images.where(image_category: 'logo').take %>  
                    <span class="logo-title brand-logo"><img src="<%= @brand.images.where(image_category: 'logo').first.image.logo %>"></span>
                  <% else %>
                    <span class="logo-title"><%= @brand.brand_name %></span>
                  <% end %>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">

                      <% if !@location.business_description.blank? %>
                        <li class="nav-item"><a href="#about">About</a></li>
                      <% end %>

                      <% if !@location.service_description.blank? %>
                        <li class="nav-item"><a href="#services">Services</a></li>
                      <% end %>

                      <% if !@location.areas_served.blank? %>
                        <li class="nav-item"><a href="#areas">Areas Served</a></li>  
                      <% end %> 


                        <li class="nav-item nav-item-cta last"><button type="button" class="btn btn-cta btn-cta-primary" data-toggle="modal" data-target="#contact" >Contact</button></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div><!--//container-->
    </header><!--//header-->

    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section">  
        <div class="container intro">
          <% if !@location.tagline_title.blank? %>
            <h2 class="title"><%= raw @location.tagline_title %></h2>
            <p class="summary"><%= raw @location.tagline_summary %></p>
            <a class="btn btn-cta btn-cta-secondary" href="#contact">Learn More</a>
          <% end %>

        </div><!--//intro-->
        
        <div class="fixed-container">
            
            <div class="social text-center">
                <div class="container">
                    <span class="line"></span>    
                </div>         
            </div><!--//social-->   
        </div>  
        <div class="bg-slider-wrapper">
            <div id="bg-slider" class="flexslider bg-slider">
                <ul class="slides">
                    <li class="slide slide-1"></li>
                    <!-- <li class="slide slide-2"></li>
                    <li class="slide slide-3"></li> -->
                </ul>
            </div>
        </div><!--//bg-slider-wrapper--> 
    </section>
    <!--//promo-->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <section class="map">
      <div class="container">
        <div class="row" data-track-category="Business Card">
          <div class="col-md-6">
            <div class="bCard2-map">
              <!-- #Google Maps API -->
              <div id="map"></div>
              <!-- <div id="map-canvas1" class="map-height"><a data-sim-tracklabel="map get directions" href=""></a></div> -->
              <div class="clear"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="bCard1-info">
              <h3><strong itemprop="name"><%= @location.business_name %></strong></h3>
              <span itemprop="telePhone" class="desktop phone hidden-xs"><%= @location.phone_number %></span>
              <span class="mobile-phone visible-xs-inline">
                <a data-track-label="Mobile Call" data-sim-tracklabel="b card mobile phone" href="tel:3129966582"></a><%= @location.phone_number %>
              </span>
              <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress"><%= @location.address_1 %> <%= @location.address_2 %><br></span><span itemprop="addressLocality"><%= @location.city %>,
                </span>
                <span itemprop="addressRegion"><%= @location.state %> </span><span itemprop="postalCode"><%= @location.zipcode %></span>
                <meta itemprop="addressCountry" content="USA">
              </p>
              <!-- <span id="visit-website"><a data-sim-tracklabel="b card Visit Website" class="btn btn-primary" href="#" target="_blank">Visit Website</a></span> -->
            </div>
          </div>
        </div>
      </div>
    </section>

  <% if !@location.business_description.blank? %>
    <section class="about" id="about">
      <div class="container">
        <!-- START THE FEATURETTES -->

        <!-- <hr class="featurette-divider" id="about"> -->

        <div class="row featurette">
          <div class="col-md-6">
            <h2 class="featurette-heading">About Us</h2>
            <p class="lead"><%= @location.business_description %></p>
          </div>
          <div class="col-md-6">
            <% if @brand.images.where(image_category: 'about').take %>  
              <img class="featurette-image img-responsive center-block" src="<%= @brand.images.where(image_category: 'about').first.image.medium %>"></span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if !@location.service_description.blank? %>
    <section class="services" id="services">
      <div class="container">
        <!-- <hr class="featurette-divider" id="services"> -->

        <div class="row featurette">
          <div class="col-md-6 col-md-push-6">
            <h2 class="featurette-heading">Services</h2>
            <p class="lead"><%= @location.service_description %></p>
          </div>
          <div class="col-md-6 col-md-pull-6">
            <% if @brand.images.where(image_category: 'services').take %>  
              <img class="featurette-image img-responsive center-block" src="<%= @brand.images.where(image_category: 'services').first.image.medium %>"></span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if !@location.areas_served.blank?  %>
    <section class="areas" id="areas">
      <div class="container">
        <!-- <hr class="featurette-divider" id="areas"> -->

        <div class="row featurette">
          <div class="col-md-6">
            <h2 class="featurette-heading">Areas Served</h2>
            <p class="lead">
              <%= @location.areas_served %>

              <% if !@location.zipcodes_served.blank?  %>
                <br>
                <br>
                <%= @location.zipcodes_served %>
              <% end %>
            </p>
          </div>
          <div class="col-md-6">
            <% if @brand.images.where(image_category: 'areas').take %>  
              <img class="featurette-image img-responsive center-block" src="<%= @brand.images.where(image_category: 'areas').first.image.medium %>"></span>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <% if @brand.contents.count != 0 %>
    <section class="content" id="content">
      <div class="container">
        <!-- <hr class="featurette-divider"> -->

        <!-- /END THE FEATURETTES -->

        <!-- Three columns of text below the carousel -->
        <div class="row">

        <% @brand.contents.each_with_index do |content, index| %>
          <div class="col-lg-4">
            <!-- <img class="img-circle center-block" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
            <h2><%= @brand.contents[index].content_name %></h2>
            <p><%= @brand.contents[index].content_field %></p>
            <!-- <p><a class="btn btn-default" href="#" role="button">View more &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
        <% end %>


        </div><!-- /.row -->
      </div>
    </section>
  <% end %>

  <div class="container">
    <!-- FOOTER -->
    <footer>
      <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
      <p>&copy; 2015 <%= @brand.brand_name %> <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> --></p>
    </footer>
  </div><!-- /.container -->

  <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}"></script>

  <script type="text/javascript">
    var obj = {
      lat: <%= @location.latitude %>,
      long: <%= @location.longitude %>
    }
    var manager = new MapManager
    manager.initMap(obj)
  </script>

  </body>
</html>
